extends layout

block content
  .container
    h1 Ballyhoo
    p
      | <em>Making Meetup Event Announcements Fast and Useful!</em>
    p 
      | noun \ˈba-lē-ˌhü\
    ul
      li a noisy attention-getting demonstration or talk
      li flamboyant, exaggerated, or sensational promotion or publicity
      li excited commotion

    h3 What is this?

    | Ballyhoo is an application for letting attendees at large Meetup events submit announcements 
    | in advance, allowing real-time projection of announcements onto a screen, and making it easier
    | for people to make contact afterwards.
    
    h3 How do I make an announcement?

    | Click the announce button and login with Meetup. Ballyhoo will pull your name and photo, then give
    | you a simple form to fill out. Enter your announcement and optionally a URL. That's it!
    | Attend the Meetup, and when you make your in-person announcement, the Meetup organizer can
    | make your announcement visible to all, in real-time.
    br
    | After the event, attendees can follow up with you easily. And you can mouse over your URL
    | to see how many people clicked through (in the last week).

    h3 How do I learn more?

    | See our <a href="https://github.com/datacommunitydc/ballyhoo" target="_blank">Github</a> page for installation
    | instructions for your own Meetup, and the source!
    br
