extends layout

block content
  .container
    h1 Ballyhoo
    p
      | <em>Making Meetup Event Announcements Fast and Useful!</em>
    p 
      | noun \ˈba-lē-ˌhü\
    ul
      li a noisy attention-getting demonstration or talk
      li flamboyant, exaggerated, or sensational promotion or publicity
      li excited commotion

    h3 What is this?

    | Ballyhoo is an application for letting attendees at large Meetup events submit announcements 
    | in advance, allowing real-time projection of announcements onto a screen, and making it easier
    | for people to make contact afterwards.
    
    h3 How do I make an announcement?

    | Use the Meetup web or mobile interface to  
    | <a href="#{announceuri}" target="_blank">send a message to the Ballyhoo user</a>, who should be a member of your group. 
    | Put the desired content of the announcement in the Subject: line, and put any URL
    | you'd like to include in the body of the message -- anything else in the message body will be
    | ignored. Be sure <em>not</em> to click the &quot;Hide my email address&quot; option. 
    | That's it! You'll receive an email message 
    | to validate that the announcement is as you'd like it, and then the Meetup organizer can 
    | make your announcement visible, either in advance or in real time.

    h3 How do I learn more?

    | See our <a href="https://github.com/datacommunitydc/ballyhoo" target="_blank">Github</a> page for installation
    | instructions for your own Meetup, and the source!
    br
