extends layout

block content
  each ann in announcements
    if ann.status == "visible"
      ul
        li
          img(src="#{ann.image_url}")
        li= ann.username
        li= ann.announcement
        li= ann.url
