html {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
body {
  padding: 70px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  zbackground-color: #f8f8f8;

}

a {
  color: #000000;
}

span.boxlink {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  /* background-image: url('empty.gif'); */
}

.container {
  margin-bottom: 100px;
}

#contentrow {
  height: 100%;
}
.sidebar {
  background-color: #eee;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: gray;
}

.nav__announce {
  position: relative;
  top: .5em;
  margin-left: .3em;
  margin-bottom: 1em !important;
  margin-right: 1em;
}