html {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
body {
  padding: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: #000000;
}

img.admin {
	max-width: 50%;
	max-height: 50%;
}

.queuehidden {
  display: none;
}

.announcement {
	padding: 10px;
	border: 2px;
	border-style: solid;
  border-color: gray;
	position: relative;
}

.ann_comps {
  display: table;
  margin: 0 auto;
}

.queued {
	background-color: #ddd;
}

.visible {
	background-color: #ffc;
}

span.boxlink {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  /* background-image: url('empty.gif'); */
}

#contentrow {
  height: 100%;
}
.sidebar {
  background-color: #eee;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: gray;
}